html, body {
  margin: 0px;
  font-family: Roboto;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  text-align: center;
  justify-content: stretch;
  align-content: stretch;
  border: 3px solid;
  margin-top: 140px;
}

.item-1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #FF00AA;
}

.item-2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #00D900;
}

.item-3 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #266EFF;
}

@media only screen and (max-width: 1024px) {
  .item-1, .item-2, .item-3 {
  grid-column: 1 / 4;
  }

  .item-1 {
    grid-row: 1 / 2;
  }

  .item-2 {
    grid-row: 2 / 3;
  }

  .item-3 {
    grid-row: 3 / 4;
  }

}

.input-1, .input-2, .input-3 {
  border: solid #ff88d7 3px;
  border-radius: 20px;
  padding: 10px;
  -webkit-transition: 0.5s;
}

.input-2 {
  border: solid #98FB98 3px;
}

.input-3 {
  border: solid #6495ED 3px;
}

.button-1, .button-2, .button-3 {
  border: solid #ff88d7 3px;
  border-radius: 20px;
  background-color: #ff88d7;
  padding: 10px;
  -webkit-transition: 0.5s;
  outline: none;
}

.button-2 {
  border: solid #98FB98 3px;
  background-color: #98FB98;
}

.button-3 {
  border: solid #6495ED 3px;
  background-color: #6495ED;
}

.button-1:hover, .button-2:hover, .button-3:hover, .input-1:focus, .input-2:focus, .input-3:focus {
  background-color: #C0C0C0;
  border: solid 3px #C0C0C0;
}

.input-1:focus, .input-2:focus, .input-3:focus {
  background-color: #fff;
  outline: none;
}

.timer {
  font-size: 5em;
}
